body {
	margin: 0;
	padding: 0;
}

a, li, button {
	cursor: pointer;
}

.dark {
	background: #4a514a;
}

.container {
	position: absolute;
	margin: auto;
	padding: 0;
	top: 2.5%; left: 0; right: 0;
	height: 95%;
	width: 80%;
	border: 0;
	box-shadow: 0 0 25px 5px #ccc;	
	color: white;
	min-height: 460px;
	min-width: 770px;
	max-width: 1150px;
}

.header, .center, .footer, .left, .right, .middle {
	position: absolute;
	margin: auto;
	box-sizing: border-box;
}

.header {
	margin: 0 1% 0 1%;
	border-bottom: 1px solid #ccc;
	top: 0; left: 0; right: 0;
	height: 15%;
	text-align: center;
}

.center {
	top: 15%; left: 225px; right: 225px; bottom: 6%;
	box-sizing: border-box;
}

.left {
	top: 15%; left: 0; bottom: 6%;
	width: 225px;
	padding: 1%
}

.right {
	top: 15%; right: 0; bottom: 6%;
	width: 225px;
}

.footer {
	left: 0; right: 0; bottom: 0;
	height: 6%;
	margin: 0 1% 0 1%;
	border-top: 1px solid #ccc;
}

.dialog-group {
	text-align: center;
}

.dialog-group > button {
  	margin: 1% 0 0 0;
	border: 0;
	height: 25px;
	border-radius: 3px;
}

.btn-green {
	background-color: #5C9337;
}

.btn-dialog {
	background-color: #5B9BD5;
}

.btn-warn {
	background-color: #CA4848;
}

.map {
	border: 1px solid #ccc;
	width:100%;
	height:100%;
	box-sizing: border-box;
}

.team-data {
	text-align: left;
}

.team-data-label {
	font-size: 110%;
}

.team-caption {
	font-size: 130%;
	font-weight: bold;
	max-width: 200px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.team-data-value {
	font-style: italic;
}

.log-box {
	width: 100%;
	height: 100%;
	border: 0;
	color: white;
	padding: 0 1% 0 3%;
	font-size: 10px;
	box-sizing: border-box;
}

.input-group {
	margin-bottom: 25px;
}

.progress {
	margin: 0 225px 0 225px;
	background-color: #EFEFEF;
	height: 20px;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
	border-radius: 3px 0 0 3px;
	background-image: linear-gradient(to bottom, #337ab7 0, #286090 100%);
	height: 100%;
	line-height: 20px;
}